.h {
  color: var(--color-golden) !important;
}

.app__specialMenu {
  flex-direction: column;
  background-color: var(--color-black);
}

.app__specialMenu-title {
  margin-bottom: 2rem;
  text-align: center;
}

.app__specialMenu-menu {
  width: 100%;
  margin: 2rem 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.app__specialMenu-menu_heading {
  font-family: var(--font-base);
  font-weight: 600;
  font-size: 45px;
  line-height: 58.5px;
  letter-spacing: 0.04em;
  color: var(--color-white);
}

.app__specialMenu-menu_wine,
.app__specialMenu-menu_cocktails {
  flex: 1;
  flex-direction: column;
  width: 100%;
}

.app__specialMenu-menu_img {
  width: 60%;
  margin: 4rem auto;
}

.app__specialMenu-menu_img img {
  width: 100%;
}

.app__specialMenu-menu_items {
  display: flex;
  flex-direction: column;
  margin: 2rem 0;
  width: 70%;
}


@media screen and (max-width: 2000px) {
  .app__specialMenu-menu_img {
    width: 60%;
    margin: 4rem auto;
  }
}

@media screen and (max-width: 1150px) {
  .app__specialMenu-menu_img {
    width: 80%;
    margin: 3rem auto;
  }
}

@media screen and (max-width: 650px) {
  .app__specialMenu-menu_img {
    width: 90%;
    margin: 2rem auto;
  }
}
